*
{
	margin:0;
}

body
{
	 overflow: hidden;
}


.parentClass
{
	  width: 800px;
	  height: 500px;
	  position: absolute;
	  margin: auto;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  border-radius:10px;
	  right: 0;
	  background-color: green;
}


.toastmessage
{
	 position: absolute;
	 bottom:30px;
	 height:50px;
	 width:200px;
	 text-align: center;
	 box-shadow: 5px 5px 10px black;
	 border-radius:5px;
	 left:10px;
	 transition: 1s;
	 background-color:green;
	 padding:10px;
	 color: white;
	 transform: scaleX(0);
}

.chooser
{
	 position: absolute;
	 left:40px;
	 top:300px;
	 padding:10px;
	 box-shadow: 0px 0px 10px black;
	 border: 1px dotted black;
	 border-radius:5px;
	 background-color:white;
	 transform: scaleZ(0);
}

.chooser input[type = 'radio']
{
	 cursor: pointer;
}

.winpage
{
    position: absolute;
    height:90%;
    width:90%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    border-radius:5px;
    background-color:green;
    z-index:1000;
    transform: scaleX(0);
    transition:1s;
}

.winpage img
{
	 position: absolute;
	 left:0;
	 right:0;
	 bottom:0;
	 top:0;
	 margin:auto;
	 border-radius:2px;
}
.winpage h1
{
	 text-align: center;
	 margin-top:150px;
	 color:white;
	 font-family:abel;
}

.winpage .destroythemodal
{
	position: absolute;
	right:80px;
	top:40px;
	font-size: 70px;
	font-weight: bold;
	color: red;
	transform: rotate(45deg);
	cursor:pointer;
	text-shadow:0px 0px 5px white;
}

.stackfordropedcards
{
	 width:60px;
	 height:80px;
	 position: absolute;
	 left:400px;
	 top: 90px;
	 background-color:blue;
	 border-radius:5px;
	 box-shadow: 0px 0px 5px black;
}

.playingcardleft
{
	 width:60px;
	 height:80px;
	 position: absolute;
	 right:40px;
	 top: 90px;
	 background-color:blue;
	 border-radius:5px;
	 box-shadow: 0px 0px 5px black;
}

.Computer
{
	position: absolute;
	height: 150px;
	width:150px;
	background-color:magenta;
	border-radius: 5px;
	box-shadow: 0px 0px 5px black;
	top:40px;
	left: 40px;
	z-index:0;
}

.Human
{
	position: absolute;
	height: 170px;
	width:500px;
	background-color:magenta;
	border-radius: 5px;
	box-shadow: 0px 0px 5px black;
	bottom:20px;
	right:40px;
	overflow-x: auto;
}

.Computer .computerimage
{
		position: absolute;
		top:0;
		right:0;
		width:50px;
		height: 50px;	 
		z-index:1 ;
}
.computerplayingcards
{
		position: absolute;
	 	width:60px;
	 	height:80px;
		bottom:20px;
		left:30px;
		cursor: pointer;
		background-color: gray;
		border-radius:5px;
}

.Human .humanimage
{
		position: absolute;
		top:10px;
		right:10px;
		width:50px;
		height: 50px;	 
		z-index:1;
		border-radius:5px;
}

.humanplayingcards
{
		position: absolute;
		height:80px;
		width:60px;
		cursor: pointer;
}

.humanplayingcardcontainer
{	
	position: absolute;
	height:80px;
	top:80px;
	width:91%;
	left:40px;
    overflow: auto;
}

#playingcardsuniqueid:hover
{
	border:1px solid blue;
}

